@{
    ViewBag.Title = "Home Page";
}


<a class="one-col-container">
    <div class="note note--bordered">
        <p class="note__date">@DateTime.Now.ToString("D")</p>
        
        <p class="note__title">
            <strong>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </strong>
        </p>
        <p class="note__content">
            Lorem ipsum pellentesque tincidunt urna ac eros accumsan accumsan. Curabitur ullamcorper ultrices diam, non placerat ipsum dictum eu. Maecenas justo ante, posuere id nibh in, fermentum finibus nunc.
        </p>
    </div>
</a>

<a class="one-col-container">
    <div class="note note--bordered">
        <p class="note__date">@DateTime.Now.ToString("D")</p>

        <p class="note__title">
            <strong>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </strong>
        </p>
        <p class="note__content">
            Lorem ipsum pellentesque tincidunt urna ac eros accumsan accumsan. Curabitur ullamcorper ultrices diam, non placerat ipsum dictum eu. Maecenas justo ante, posuere id nibh in, fermentum finibus nunc.
        </p>
    </div>
</a>