.note {
  align-self: center;
  max-width: 80%;
  color: #000000;
  text-decoration: none; }
  .note:hover {
    text-decoration: none; }

.note--bordered {
  border: 1px solid #40528f;
  padding: 15px 15px; }

.note__title:hover {
  text-decoration: none; }

.note__date {
  font-style: italic;
  color: #777777; }
  .note__date:hover {
    text-decoration: none; }

.note__content {
  color: #40528f; }
  .note__content:hover {
    text-decoration: none; }

